<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="codingMapper">

	<resultMap type="Coding" id="codingResultSet">
		<id property="qNum" column="Q_NUM"/>
		<result property="qTitle" column="Q_TITLE"/>
		<result property="qContent" column="Q_CONTENT"/>
		<result property="qLimitation" column="Q_LIMITATION"/>
		<result property="qLimitationTwo" column="Q_LIMITATION_TWO"/>
		<result property="qLimitationThree" column="Q_LIMITATION_THREE"/>
		<result property="qLimitationFour" column="Q_LIMITATION_FOUR"/>
		<result property="qLimitationFive" column="Q_LIMITATION_FIVE"/>
		<result property="qExData" column="Q_EXDATA"/>
		<result property="qExResult" column="Q_EXRESULT"/>
		<result property="qExDataTwo" column="Q_EXDATA_TWO"/>
		<result property="qExResultTwo" column="Q_EXRESULT_TWO"/>
		<result property="qExDataThree" column="Q_EXDATA_THREE"/>
		<result property="qExResultThree" column="Q_EXRESULT_THREE"/>
		<result property="userId" column="USER_ID"/>
	</resultMap>
	
	<select id="listCoding" resultMap="codingResultSet">
		select * from QUESTION order by q_num
	</select>
	
	<insert id="insertCoding" parameterType="Coding">
		insert into question
		values(seq_qnu.nextval, #{qTitle}, #{qContent}, #{qLimitation},
		<!-- 조건에 따른 쿼리문 넣기 -->
		<if test='qLimitationTwo == null'>
			null,
		</if>
		<if test='qLimitationTwo != null'>
			#{qLimitationTwo},
		</if>
		<if test='qLimitationThree == null'>
			null,
		</if>
		<if test='qLimitationThree != null'>
			#{qLimitationThree},
		</if>
		<if test='qLimitationFour == null'>
			null,
		</if>
		<if test='qLimitationFour != null'>
			#{qLimitationFour},
		</if>
		<if test='qLimitationFive == null'>
			null,
		</if>
		<if test='qLimitationFive != null'>
			#{qLimitationFive},
		</if>
		#{qExData}, #{qExResult},
		<if test='qExDataTwo == null'>
			null, null,
		</if>
		<if test='qExDataTwo != null'>
			#{qExDataTwo}, #{qExResultTwo},
		</if>
		<if test='qExDataThree == null'>
			null, null,
		</if>
		<if test='qExDataThree != null'>
			#{qExDataThree}, #{qExResultThree},
		</if>
		#{userId})
	</insert>
	<resultMap type="CodingPass" id="codingPassResult">
		<id property="qsNum" column="QS_NUM"/>
		<result property="qPass" column="Q_PASS"/>
		<result property="qNum" column="Q_NUM"/>
		<result property="userId" column="USER_ID"/>
	</resultMap>
	<select id="getPassList" parameterType="_int" resultMap="codingPassResult">
		select * from qscore where q_num = #{qno}
	</select>
	
	<insert id="insertQscore" parameterType="map">
		insert into qscore
		values(seq_qsnu.nextval, default, #{qno}, #{userId})
	</insert>
	
	<select id="getCoding" parameterType="_int" resultMap="codingResultSet">
		select * 
		from question
		where q_num = #{qno}
	</select>
</mapper>
