<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="licenseMapper">

	<resultMap type="License" id="lcsResultSet">
		<id property="l_id" column="l_id"/>
		<result property="l_name" column="l_name"/>
		<result property="l_round" column="l_round"/>
		<result property="start_date" column="start_date"/>
		<result property="end_date" column="end_date"/>
		<result property="results" column="results"/>
		<result property="l_address" column="l_address"/>
		<result property="l_count" column="l_count"/>
		<result property="reg_date" column="reg_date"/>
		<result property="modify_date" column="modify_date"/>
		<result property="status" column="status"/>
		<result property="user_id" column="user_id"/>
	</resultMap>
	
	<select id="getListCount" parameterType="map" resultType="_int">
		select count(*)
		from license
		where status = 'Y'
		<if test='keyword != null and keyword != ""'>
			and l_name like '%' || #{keyword} || '%'
		</if>
		<choose>
			<when test='sort != null and sort != ""'>
				order by #{ sort } desc
			</when>
			<otherwise>
				order by modify_date desc
			</otherwise>
		</choose>
	</select>
	
	<select id="selectList" parameterType="map" resultMap="lcsResultSet">
   		select l_id, l_name, l_round, start_date, end_date, results, l_address,
				reg_date, l_count
		from license
		where status = 'Y'
			<if test='keyword !=null and keyword != ""'>
				and l_name like '%' || #{keyword} || '%'
			</if>
			<if test='choice == "first"'>
				and sysdate BETWEEN start_date and end_date
			</if>
			<if test='(all != null and all !="") or order=="count"'>
			<![CDATA[and end_date >= sysdate-1]]>
			</if>
		<if test='order == null or order == ""'>
			order by end_date
		</if>
		<if test='order == "count"'>
			order by l_count desc
		</if> 
	</select>
	
	<insert id="insertScrapLcs" parameterType="map">
		insert into l_scrap
		values(seq_lsid.nextval, #{userId}, #{lId})
	</insert>
	
	<select id="confirmScrap" parameterType="map" resultType="_int">
		select count(*)
		from l_scrap
		where user_id = #{userId} and l_id =#{lId}
	</select>
	
	<select id="userScrap" parameterType="string" resultType="map">
		select l_id as l_id
		from l_scrap
		where user_id = #{userId}
	</select>
	
	<update id="deleteLcs" parameterType="_int">
		update license
		set status='N'
		where l_id = #{eventid}
	</update>
	
	<update id="updateLcs" parameterType="map">
		update license
		set l_name=#{License.l_name}, l_round=#{License.l_round}, start_date=#{License.start_date},
			end_date=#{License.end_date}, results=#{License.results}, l_address=#{License.l_address},
			modify_date=sysdate, user_id=#{userId}
		where l_id=#{License.l_id} 
	</update>
	
	<insert id="insertLcs" parameterType="map">
		insert into license 
		values(seq_lid.nextval, #{License.l_name}, #{License.l_round}, 
		#{License.start_date}, #{License.end_date}, #{License.results}, 
		#{License.l_address}, #{License.l_count}, sysdate, sysdate, 
		default, #{userId})
	</insert>
	
	<resultMap type="License" id="lcsResultSet2">
		<id property="l_id" column="l_id"/>
		<result property="l_name" column="l_name"/>
		<result property="l_round" column="l_round"/>
		<result property="start_date" column="start_date"/>
		<result property="end_date" column="end_date"/>
		<result property="results" column="results"/>
		<result property="l_address" column="l_address"/>
		<result property="l_count" column="l_count"/>
		<result property="reg_date" column="reg_date"/>
		<result property="modify_date" column="modify_date"/>
		<result property="status" column="status"/>
		<result property="user_Id" column="user_id"/>
	</resultMap>
	
	<select id="mainLicense" resultMap="lcsResultSet2">
		<![CDATA[
			select X.*
			from(select *
					from license
					where start_date >= sysdate
					order by start_date) X
			where rownum <=3
		]]>
	</select>
	
	<update id="updateLcsCount" parameterType="_int">
		update license
		set l_count = l_count +1
		where l_id = #{lId}
	</update>
	
</mapper>
