<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>
	
	<typeAliases>
		<!-- VO객체 별칭 지정 -->
		<typeAlias type="com.project.itplanet.study.model.vo.Study" alias="Study"/>
		<typeAlias type="com.project.itplanet.study.model.vo.StudyReply" alias="StudyReply"/>
		<typeAlias type="com.project.itplanet.study.model.vo.StudyChat" alias="StudyChat"/>
		<typeAlias type="com.project.itplanet.common.model.vo.Local" alias="Local"/>
		<typeAlias type="com.project.itplanet.member.model.vo.Member" alias="Member"/>
		<typeAlias type="com.project.itplanet.member.model.vo.CScrap" alias="CScrap"/>
		<typeAlias type="com.project.itplanet.member.model.vo.LScrap" alias="LScrap"/>
		<typeAlias type="com.project.itplanet.member.model.vo.HScrap" alias="HScrap"/>
		<typeAlias type="com.project.itplanet.license.model.vo.License" alias="License"/>
		<typeAlias type="com.project.itplanet.license.model.vo.LAttachment" alias="LAttachment"/>
		<typeAlias type="com.project.itplanet.competition.model.vo.Competition" alias="Competition"/>
		<typeAlias type="com.project.itplanet.competition.model.vo.Cattachment" alias="Cattachment"/>
		<typeAlias type="com.project.itplanet.coding.model.vo.Coding" alias="Coding"/>

	</typeAliases>
	
	<mappers>
		<!-- mapper 파일 -->
		<mapper resource="mappers/blacklist-mapper.xml"/>
		<mapper resource="mappers/coding-mapper.xml"/>
		<mapper resource="mappers/competition-mapper.xml"/>
		<mapper resource="mappers/hire-mapper.xml"/>
		<mapper resource="mappers/license-mapper.xml"/>
		<mapper resource="mappers/member-mapper.xml"/>
		<mapper resource="mappers/study-mapper.xml"/>
	</mappers>
</configuration>
