@charset "UTF-8";

body {
    font-family: "roboto", 'NotoSansKR', "Helvetica Neue", Helvetica, Arial, "맑은 고딕", malgun gothic, "돋움", Dotum, sans-serif, "Apple Color Emoji", "Noto Color Emoji";
    font-size: 16px;
    color: #263747;
    background-color: white;
    line-height: 1.4;
}



#pageFrame {
   margin: 20px auto 20px auto;
   
}

.pageFrame #pageFrame {
   display: block;
}

body{
    background: #eee;
}
span{
    font-size:15px;
}
/* a{
  text-decoration:none; 
  color: #0062cc;
  border-bottom:2px solid #0062cc;
} */
.box{
    padding:30px 0px;
}

.box-part{
    background:#FFF;
    border-radius:0;
    padding:30px 10px;
    margin:30px 15px;
    transition-duration: 0.08s;
    transition-property: all;
    transition-timing-function: ease-in-out;
    transition-delay: initial;
    background-color: transparent;
    box-shadow: none;
    border-top: 0.0625rem solid #D7E2EB;
    border-radius: 0;
}
.box-part .text{
    margin:15px 0px;
    font-size: 0.875rem;
    line-height: 1.375rem;
    color: #98A8B9;
    
}

.box-part .text span{
   overflow: hidden;
    text-overflow: ellipsis;
    height: 65px;
    display: block;
    white-space: normal; line-height: 1.2; height: 3.6em; text-align: left; word-wrap: break-word; display: -webkit-box; -webkit-line-clamp: 3; -webkit-box-orient: vertical;


}


.fab{
    color:#D7E2EB;
    position: absolute;
    top: 3rem;
    right: 2.5rem;
}

.title h4 {
   padding-right: 2rem;
    margin-bottom: 0;
    color: #263747;
    font-size: 20px;
    line-height: 1.6;
    letter-spacing: -0.009em;
        font-weight: 700;
    -webkit-font-smoothing: antialiased;
}

.box > .container > h2 {
   line-height: 27px;
    color: #292929;
    font-size: 18px;
    font-weight: bold;
    word-wrap: break-word;
    display: inline-block;
}

.box > .container > #topList {
   margin-top: 20px;
   font-size: 14px;
}


.box > .container > #topList thead {
   background: #003458;
    opacity: 0.9;
    color: #FFFFFF;
}

.responsive-table {
   
   thead {
    background-color: #95A5A6;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.03em;
  }
  tbody {
    background-color: #ffffff;
    box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.1);
  }
  .col-1 {
    flex-basis: 10%;
  }
  .col-2 {
    flex-basis: 40%;
  }
  .col-3 {
    flex-basis: 25%;
  }
  .col-4 {
    flex-basis: 25%;
  }
}










