@charset "UTF-8";

.header {
	
	width: 100%;
	height: 150px;
	background: #003458;
}



#container{
	min-height: 1000px;
	margin: 16px auto 16px auto; 
	width: 896px;
	display: block;
  	.center-block();
}

.center-block() {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.filter {
	margin: 10px auto 16px auto;
}

.filter select {
	width: 110px; 
	height: 41px;
	display: inline-block;
	margin: auto 10px auto 10px;
	font-size: 15px;
	color: #999;
	border: 2px solid #ddd;
	
}




.search-box {
	background:#003458;
	height: 60px;
	width: 270px;
	border-radius: 40px;
	padding: 10px;
	display: flex;
	margin: 15px;
}

.search-btn {
	color: #e84118;
	float: right;
	width: 45px;
	height: 45px;
	border-radius: 50%;
	background: #2f3640;
	display: flex;
	justify-content: center;
	align-items: center;
	
}
.search-txt{
	border:none;
	background: none;
	outlint: none;
	float: left;
	padding: 0;
	color: white;
	font-size: 16px;
	transition: 0.4x;
	width: 240px;
	
}

#container > div.list > div.item {
	display: inline-block;
	width: 400px;
	border: 1px solid #003458;
	margin: 0 10px 10px 10px;
	vertical-align: top;
}

.list {
	margin-top: 20px;
	height: 100vh;
}

.top {
	display: block;
	padding: 16px;
}

.company {
	 line-height: 24px; color: #292929; font-size: 16px; font-weight: bold; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;
}


.fa-bookmark {
	display: block;
	width: 50px;
    margin-inline-start: 330px;
    font-size: 25px;
}

#container p.info > span {
  display: inline-block; margin-right: 8px; line-height: 18px; color: #FE2E2E; font-size: 15px; letter-spacing: 0;
  margin-left: 25px;
}
#container p.info > span.dday {
  font-weight: bold;
}



