@charset "UTF-8";
#wrap {
    width: 100%;
    #f5f5f5;
}
#wrap #contentWrap{
	width: 820px;
	padding: 85px 0 110px;
	margin: 0 auto;
}
#contentWrap h2{
	font-size: 28px;
	font-weight: bold;
	color: #555;
}
#join_content{
	padding: 55px 76px 60px;
    color: #888;
    border: 1px solid #eee;
    border-top: 3px solid #002358;
    background-color: #fff;
    margin-top: 25px;
}
.row_group{
	overflow: hidden;
	width: 100%;
}
.row_group *:focus{
	outline: 0;
}
.join_title{
/* 	margin: 19px 0 8px;
	font-size: 14px;
	font-weight: 600; */
	display: inline;
	line-height: 44px;
	font-size: 12px;
	font-weight: normal;
	height: 65px;
	padding-left: 10px;
}
.error_box{
/* 	margin: 9px 0 -2px;
	font-size: 12px;
	line-height: 14px;
	color: red; */
	padding: 0 0 10px 178px;
	font-size: 12px;
	line-height: 14px;
	color: red;
}
.box{
	display: block;
	position: relative;
	padding: 10px 14px 10px 14px;
	width: 100%;
	/* height: 51px; */
	/* border: 1px solid #dadada; */
	height: 65px;
	box-sizing: border-box;
	background: #fff;
	vertical-align: top;
}
.join_row{
	border-bottom: 1px solid #dadada;
}
.birth_wrap{
	display: block;
	position: relative;
	padding: 10px 14px 10px 14px;
	width: 100%;
	height: 65px;
	/* border-bottom: 1px solid #dadada; */
	box-sizing: border-box;
	background: #fff;
	vertical-align: top;
}
.inner_birth_wrap{
	float: right;
	width: 75%;
}
.birth_yy, .birth_mm, .birth_dd{
	border-right: 1px solid white;
	float: left;
	display: inline-block;
	table-layout: fixed;
	width: 31.7%;
	height: 29px;
	vertical-align: middle;
	margin: 0; padding: 0;
}
#birth_yy, #birth_mm, #birth_dd{
	width: 100%;
}
.birth_yy+.birth_mm, .birth_mm+.birth_dd{
	padding-left: 10px;
}
.join_gender .box{
	padding: 11px 14px;
}
option[disabled]{
	display: none;
}
#btn_area{
	margin: 50px 0 9px;
}
.join_btn{
	margin: 0 auto;
	display: block;
	background-color: #002358;
	border: 1px solid #002358;
	width: 190px;
	padding: 21px 0 17px;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	line-height: 13px;
	cursor: pointer;
	box-sizing: border-box;
	color: #fff;
}
#emailNumBtn{
	float: right;
	width: 15%;
	font-size: 12px;
	padding: 14.5px 0 14.4px 0;
}
.policy {
	position: relative;
    margin-top: 35px;
    padding: 14px 30px 17px 195px;
    color: #333;
    font-size: 11px;
    border: 1px solid #bbb;
}	
.policy p{
	position: absolute;
    left: 40px;
    top: 50%;
    margin-top: -10px;
}
.policy li{
	padding: 5px 0 4px 0;
}
.policy .agreement{
	margin-top: 4px;
    padding: 5px 10px;
    height: 100px;
    border: 1px solid #d6d6d6;
    color: #737373;
    font-size: 12px;
    letter-spacing: 0;
    background-color: #f5f5f5;
    overflow: auto;
    white-space: pre-line;
}
	.int{
	display: inline-block;
	position: relative;
	float: right;
	width: 75%;
	height: 44px;
	line-height: 44px;
	border: none;
	background: #f8f8f8;
	font-size: 15px;
	box-sizing: border-box;
	padding-left: 14px;
}
#email{
	width: 60%;
}
.sel{
	background: #f8f8f8;
	width: 75%;
	float: right;
	height: 44px;
	font-size: 15px;
	line-height: 33px;
	color: #000;
	border: none;
	padding-left: 14px;
}
.red_mark{
	margin-left: 3px;
	color: red;
}
