@charset "UTF-8";
.myContent{
	float: right;
    width: 848px;
    min-height: 703px;
    height: auto !important;
    padding: 40px 30px;
    border-top: 2px solid #555;
    background: #fff;
    font-size: 11px;
}
.myContent .titleSection{
	margin: 0 -30px 45px;
    padding: 0 30px 30px;
    background: url(http://fiximage.10x10.co.kr/web2013/my10x10/bg_double_line.gif) left bottom repeat-x;
    position: relative;
}
#mypageMain .myContent .titleSection h3{
    color: #000;
    font-size: 22px;
	font-weight: 700;
}
.myContent .titleSection .list{
	margin-top: 15px;
}
.myContent .list li{
	margin-top: 1px;
	padding-left: 13px;
	background: url(http://fiximage.10x10.co.kr/web2013/common/blt_btn_arr_red03.gif) left 5px no-repeat;
}
#primaryContent {
	float: left;
	width: 100%;
	text-align: left;
}
#primaryContent h4{
	/* margin: 28px 0 0; */
	padding-bottom: 10px;
	color: #000;
	font-size: 14px;
}
#primaryContent form{
	margin: 0;
	padding: 0;
}
#primaryContent h2{
	font-weight: normal;
}
.updateForm_content{
	margin: 0 auto;
	width: 100%;
	border-top: 2px solid #555;
	/* border-bottom: 1px solid #ddd; */
}
.row_group{
	overflow: hidden;
	width: 100%;
}
.row_group *:focus{
	outline: 0;
}
#update_form .update_title{
	display: inline;
	line-height: 44px;
	font-size: 12px;
	font-weight: normal;
	height: 65px;
	padding-left: 10px;
}
.error_box{
	/* margin: 9px 0 -2px;
	padding-left: 218px; */
	padding: 0 0 10px 218px;
	font-size: 12px;
	line-height: 14px;
	color: red;
}
.box{
	display: block;
	position: relative;
	padding: 10px 14px 10px 14px;
	width: 100%;
	height: 65px;
	box-sizing: border-box;
	background: #fff;
	vertical-align: top;
}
.update_row{
	border-bottom: 1px solid #dadada;
}
.red_mark{
	margin-left: 3px;
	color: red;
}
.int{
	display: inline-block;
	position: relative;
	float: right;
	width: 75%;
	height: 44px;
	line-height: 44px;
	border: none;
	font-size: 15px;
	box-sizing: border-box;
	background-color: #f8f8f8;
	padding-left: 14px;
}
.sel{
	width: 75%;
	float: right;
	height: 44px;
	font-size: 15px;
	line-height: 33px;
	color: #000;
	border: none;
	padding-left: 14px;
}
.update_birth{
}
.birth_wrap{
	display: block;
	position: relative;
	padding: 10px 14px 10px 14px;
	width: 100%;
	height: 65px;
	/* border-bottom: 1px solid #dadada; */
	box-sizing: border-box;
	background: #fff;
	vertical-align: top;
}
.inner_birth_wrap{
	float: right;
	width: 75%;
}
.birth_yy, .birth_mm, .birth_dd{
	border-right: 1px solid white;
	float: left;
	display: inline-block;
	table-layout: fixed;
	width: 32%;
	height: 29px;
	vertical-align: middle;
	margin: 0; padding: 0;
}
#birth_yy, #birth_mm, #birth_dd{
	width: 100%;
}
.birth_yy+.birth_mm, .birth_mm+.birth_dd{
	padding-left: 10px;
}
.update_gender .box{
	padding: 11px 14px;
}
option[disabled]{
	display: none;
}
.email{
	width: 63% !important;
}
.emailBtn{
	float: right;
	margin-left: 14px;
	padding: 0 5px 0 5px;
	color: #fff;
	/* font-weight: bold; */
	background: #555;
	line-height: 43.5px;
	font-size: 12px;	
}
#btn_area{
	text-align: center;
	padding-top: 30px;
}
#update_btn{
	margin: 0 5px 0 0;
	font-size: 12px;
	color: #fff;
	background-color: #555;
	border: 1px solid #003458;
	width: 158px;
	padding: 9px 0 6px 0;
	display: inline-block;
	text-align: center;
	/* font-weight: bold; */
	vertical-align: middle;
	cursor: pointer;
	line-height: 13px;
}
